  </main>
  <footer>
    <div class="footer-container">
      <p>&copy; <%= new Date().getFullYear() %> Mini Message Board. Built with ❤️ by <a href="https://github.com/Mainul-Islam-Nirob">Md. Mainul Islam</a></p>
    </div>
  </footer>
</body>
</html>
